<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<!-- ORACLE 10/11g -->
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" /> 
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" /> 
		<property name="username" value="impulseMailDB" /> 
		<property name="password" value="impulseMailDB" />

		<!-- POSTGRESQL 9.x
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="#{'jdbc:postgresql://' + @dbUrl.getHost() + ':' + @dbUrl.getPort() + @dbUrl.getPath()}" />
		<property name="username" value="#{@dbUrl.getUserInfo().split(':')[0]}" />
		<property name="password" value="#{@dbUrl.getUserInfo().split(':')[1]}" />  -->

		<!-- HSQLDB InMemory/File
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" /> 
		<property name="url" value="jdbc:hsqldb:hsql://localhost:9001" /> 
		<property name="username" value="sa" /> 
		<property name="password" value="" />  -->

	</bean>
	
	<!-- <bean class="java.net.URI" id="dbUrl">
    	<constructor-arg value="#{systemProperties['DATABASE_URL']}"/>
	</bean> -->

	<tx:annotation-driven />
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Hibernate 4 SessionFactory Bean definition -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>org.impulsemail.ImpulseMailDB.entity.BaseEntity</value>
				<value>org.impulsemail.ImpulseMailDB.entity.User</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- ORACLE 10/11g <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop> -->

				<!-- POSTGRES 9.x -->
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>

				<!-- HSQLDB <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop> -->

				<!-- <prop key="hibernate.current_session_context_class">thread</prop> -->
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.c3p0.min_size">5</prop>
				<prop key="hibernate.c3p0.max_size">20</prop>
				<prop key="hibernate.c3p0.timeout">1800</prop>
				<prop key="hibernate.c3p0.max_statements">50</prop>
			</props>
		</property>
	</bean>

	<context:component-scan base-package="org.impulsemail.ImpulseMailDB.dao.impl" />

</beans>